<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page de prueba</title>
    <style>
        p {
            color: rgb(0, 255, 128);
            background-color: black;
        }
    </style>
</head>
<body>
    <h1>hola mundo</h1>
    <h2>esto es un h2</h2>
    <p>esto es un p</p>
    <p>================================================================</p>
    <p>hola {{usuario.username}} {{usuario.surname}}</p>

    <button>click me</button>

    <ul>
        {% for p in productos %}
            <li>{{p.id}} - {{p.nombre}} - ${{p.precio}}</li>
        {% endfor %}
    </ul>
</body>
</html>